:root{ /*paleta de colores*/
    --blanco: #FFFFFF;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
    --grisClaro: #DFE9F3;
}

html{/* box model */
    box-sizing: border-box;
    font-size: 62.5%; /** 1rem = 10px**/
}

*,::before,::after{
    box-sizing: border-box;
}

body{
    font-size: 1.6rem;
    line-height: 2;
}

a{
    text-decoration: none;
}

h1,h2,h3,h4{
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}

h1{
    font-size: 4.8rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3.2rem;
}

h4{
    font-size: 2.8rem;
}

img{
    max-width: 100%;
}

p{
    line-height: 2;
}

.header{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.container{
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 1rem;
}

@media (min-width: 768px){
    .main__container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 0;
    }
}

.main__container{
    display: grid;
    grid-template-rows: 2fr;
}

.bar{
    padding-top: 1rem;
}

@media (min-width: 768px){
    .bar{
        display: flex;
        justify-content: space-between; /** Alinear horizontal**/
        align-items: center; /** Alinear vertical **/
        gap: 2rem;
        margin-bottom: 2rem;
    }
}

.button{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;
}

.button:hover{
    cursor: pointer;
}

.button__play{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-bg{
    background-color: var(--secundario);
}

@media (min-width: 768px) {
    .nav{
        display: flex;
        gap: 1rem;
        justify-content: space-evenly;
        flex-basis: calc(30% - 1px);
    }
}

.nav{
    padding: 1rem;
}

.nav__link{
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
    margin-left: 2rem;
}

.box{
    text-align: center;
    padding: 1.5rem;
}

.box__text__area{
    width: 100%;
    border: none;
    border-radius: 1rem;
}

.footer{
    text-align: center;
    font-size: 2rem;
    color: var(--blanco);
    padding: 1rem;
}